name: Descifrar secreto.env.enc

on:
  push:
    branches:
      - master

jobs:
  decrypt:
    runs-on: ubuntu-latest

    steps:
      # Obtener el código del repositorio
      - name: Checkout repo
        uses: actions/checkout@v3

      # Instalar SOPS y AGE
      - name: Install SOPS and AGE
        run: |
          sudo apt-get update
          sudo apt-get install -y gnupg2 wget
          # Instalar AGE
          sudo apt install age
          # Instalar SOPS
          sudo wget https://github.com/getsops/sops/releases/download/v3.11.0/sops-v3.11.0.linux.amd64 -O /usr/local/bin/sops
          sudo chmod +x /usr/local/bin/sops
          

      # Paso 3: Importar la clave privada AGE desde los secretos
      - name: Importar clave privada AGE
        env:
          AGE_PRIVATE_KEY: ${{ secrets.AGE_PRIVATE_KEY }}
        run: |
          echo "$AGE_PRIVATE_KEY" > ~/.age_key
          chmod 600 ~/.age_key
          # Establecer el entorno para que SOPS pueda encontrar la clave privada
          export SOPS_AGE_KEY_FILE=~/.age_key

      # Paso 4: Asegurarse de que el archivo secreto.env.enc está disponible y desencriptar
      - name: Verificar que el archivo secreto.env.enc está presente
        run: |
          ls -l secreto.env.enc

      - name: Descifrar archivo secreto.env.enc usando SOPS y AGE
        run: |
          sops --decrypt --input-type dotenv --output-type dotenv --age $SOPS_AGE_KEY_FILE secreto.env.enc > .env


      # Paso 5: Mostrar contenido de .env
      - name: Mostrar contenido de .env
        run: cat .env
